<h4>Agregar producto</h4>
<form class="row"
  (ngSubmit)="envioProducto()"> <!-- (ngSubmit), evento al pulsar el botón. emitCharacter(), función que emite el valor  -->
  <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre del producto"
    [(ngModel)]="producto.nombre"> <!-- [(ngModel)], two-way data binding -->
  <input type="number" name="cantidad" class="form-control mb-2" placeholder="Cantidad"
    [(ngModel)]="producto.cantidad">
  <input type="submit" class="btn btn-primary">

</form>
